<%- include('partials/header'); -%>
<div class="content container">
    <h1 class="my-4"><%= book.title %></h1>
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="<%= book.imageLink %>" alt="">
        </div>

        <div class="col-md-4">
            <small>Author: <%= book.author %></small>
            <h3 class="my-3">Book Description</h3>
            <p><%= book.description %></p>
            <h3 class="my-3">Categories</h3>
            <ul>
                <li>Lorem Ipsum</li>
                <li>Dolor Sit Amet</li>
                <li>Consectetur</li>
                <li>Adipiscing Elit</li>
            </ul>
        </div>

    </div>
</div>
<%- include('partials/footer'); -%>